.m-3r {
  margin: 3rem;
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.space-around {
  justify-content: space-between;
}

.center {
  align-content: center;
  align-items: center;
}
main {
  padding-top: 4rem;
  margin-right: 2rem;
  margin-left: 2rem;
}
table {
  border-collapse: collapse;
  width: 75%;
}


td, th {

  border: 1px solid;
  text-align: center;
  padding: 8px;

}